<section>
  <LinkTo @route="ecosystem.settings.profiles.new" class="btn btn-primary">New Profile</LinkTo>
</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" colspan="3">Container Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.profiles as |profile|}}
        <tr>
          <td><LinkTo @route="ecosystem.settings.profiles.profile" @models={{array profile.ecosystem profile}}>{{profile.name}}</LinkTo></td>
          <td>{{profile.container}}</td>
          <td><LinkTo @route="ecosystem.settings.profiles.new" @query={{hash copyFrom=profile.id}} class="btn btn-primary btn-sm">Duplicate</LinkTo></td>
          <td><RemoveDialog @item={{profile}} class="btn-sm"/></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
