<h3>{{this.model.name}}</h3>

<section>
  <h4>Container Image</h4>

  <p>The docker image for the build containers of this profile. The image must container
    all required build tools such as compilers, linkers, make tools etc. Because the
    package repositories will be cloned inside the build containers <em>git</em> must be present.
    If SSH repository URLs then also <em>SSH</em> has to be included in the build image.    
  </p>

  <BsForm @formLayout="inline" @model={{this.model}} @onSubmit={{action "saveModel"}} as |form|>
    <form.element @controlType="input" @property="container" @required={{true}} />
    <form.submitButton>Save</form.submitButton>
  </BsForm>
</section>

<section>
  <h4>Settings</h4>

  <p>
    These settings are passed to the <em>conan create</em> command. They are the same for 
    each build for this profile.
  </p>
  
  <SettingsEditor @model={{this.model}} @property="settings" @onSubmit={{action "saveModel"}}/>
</section>