{{#if this.editName}}
  <h3>New Channel</h3>

  <section>
    <BsForm @onSubmit={{action this.create}} @model={{this.model}} as |form|>
      <form.element @controlType="input" @label="Name" @property="name" />
      <BsButton @type="primary" @onClick={{this.cancel}}>Cancel</BsButton>
      <form.submitButton>Create</form.submitButton>
    </BsForm>
  </section>
{{else}}
  <ChannelEditor @model={{this.model}} @onCancel={{this.cancel}} @onSave={{this.save}}/>
{{/if}}
