<BsButton @type="primary" @onClick={{action "new"}}>New</BsButton>
{{#if this.isAddingNewItem}}
  <CredentialEditor::ItemEditor @item={{this.newItem}} @title={{@title}} @title_property={{@title_property}} @onSave={{action "saveNewItem"}} @onCancel={{action "cancelNewItem"}}/>
{{/if}}

<div class="card">
  {{#each this.items as |item|}}
    <CredentialEditor::Item @item={{item}} @title={{@title}} @title_property={{@title_property}} @onSaveItem={{action "save"}} @onRemoveItem={{fn this.removeItem item}}/>
  {{/each}}
</div>
    
