<TitleEditor @model={{@model}} @property="name"/>

<section>
  <h4>Container Image</h4>

  <p>The docker image for the build containers of this profile. The image must container
    all required build tools such as compilers, linkers, make tools etc. Because the
    package repositories will be cloned inside the build containers <em>git</em> must be present.
    If SSH repository URLs then also <em>SSH</em> has to be included in the build image. 

    Provide the full <em>registry:tag</em> specification of the docker container below.
    It is also necessary to specify the platform of the docker container such that
    an appropriate execution environment can be chosen by the build scheduler.
    Optionally, credentials to access the registry server can be given provided.
  </p>

  <BsForm @formLayout="vertical" @model={{@model}} as |form|>
    <form.element @controlType="radio" @label="Platform" @property="displayPlatform" @options={{this.platforms}} as |el|>
      <el.control @inline={{true}} />
    </form.element>
    <form.element @controlType="input" @label="Image" @property="container" required />
    <form.element @controlType="input" @label="User" @property="docker_user" />
    <form.element @controlType="password" @label="Password" @property="docker_password" as |el|>
      <el.control autocomplete="off"/>
    </form.element>
  </BsForm>
</section>

<section>
  <h4>Conan Profile</h4>

  <p>
    Each build for this profile is run with a Conan profile defined by the Conan 
    configuration. If e.g. the <em>Profile</em> here is set to <em>windows-debug</em>
    the parameter <code>--profile windows-debug</code> will be passed to the
    <code>conan create</code> command.
    In addition
  </p>

  <BsForm @formLayout="vertical" @model={{@model}} as |form|>
    <form.element @controlType="input" @label="Profile" @property="conan_profile" />
  </BsForm>
</section>

<section>
  <h4>Labels</h4>

  <p>
    Labels are strings which can be assigned to profiles. Labels can be used to identify a
    set of profiles which share a common property. E.g. profiles which refer to debug 
    builds might carry the label <code>debug</code>. 
  </p>
  <p>
    It is possible to exclude profiles with certain labels from the build of a repository.
    E.g. a repository which defines <code>debug</code> as one of its <em>exclude labels</em>
    will not be built for profiles which share the <code>debug</code> label.
  </p>
  
  <LabelEditor @model={{@model}} @property="labels"/>
</section>

<section>
  <p>
    <BsButton @type="secondary" @onClick={{action @onCancel}}>Cancel</BsButton>
    <BsButton @type="primary" @onClick={{action @onSave}}>Save</BsButton>
  </p>
</section>
