<h2>Recipes</h2>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Recipe</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.recipes as |recipe|}}
        <tr>
          <td><LinkTo @route="ecosystem.recipes.recipe" @models={{array recipe.ecosystem recipe}}>{{recipe.name}}/{{recipe.version}}@{{recipe.user}}/{{recipe.channel}}</LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
