<h1>{{model.name}}/{{model.version}}@{{model.user}}/{{model.channel}}</h1>

<p>
  {{model.revision}}
</p>

<section>
  <div class="row row-cols-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Revision</th>
          <th scope="col">Packages</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.revisions as |revision|}}
          <tr>
            <td>{{revision.revision}}</td>
            <td>
              {{#each revision.packages as |package|}}
                {{package.package_id}}<br/>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

