<section>
  <LinkTo @route="users.new" class="btn btn-primary">New User</LinkTo>
</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Full Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model as |user|}}
        {{#unless (eq user.id this.currentUser.user.id)}}
          <tr>
            <td><LinkTo @route="users.user" @model={{user}}>{{user.user_name}}</LinkTo></td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td><RemoveDialog @item={{user}} class="btn-sm"/></td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</section>