<h1>{{this.model.name}}</h1>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Repository</th>
        <th scope="col">URL</th>
        <th scope="col">Path</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.repos as |repo|}}
        <tr>
          <td><LinkTo @route="ecosystem.repos.repo" @models={{array repo.ecosystem repo}}>{{repo.name}}</LinkTo></td>
          <td>{{repo.url}}</td>
          <td>{{repo.path}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
