<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index" class="breadcrumb-item">Home</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">Ecosystem</li>
  </ol>
</nav>

<h1>{{this.model.name}}</h1>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Repository</th>
        <th scope="col">URL</th>
        <th scope="col">Path</th>
        <th scope="col">Version</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.repos as |repo|}}
        <tr>
          <td><LinkTo @route="ecosystem.repos.repo" @models={{array repo.ecosystem repo}}>{{repo.name}}</LinkTo></td>
          <td>{{repo.url}}</td>
          <td>{{repo.path}}</td>
          <td>{{repo.version}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
