<h2>{{this.model.name}}</h2>

<section>
  <div class="row row-cols-1">
    {{#each this.model.commits as |commit|}}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{commit.message}}</h5>
              <p>{{commit.sha}}</p>
              <p>{{commit.user_name}} {{commit.user_email}}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Profile</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="2">Package</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each commit.builds as |build|}}
                    <tr>
                      <td>{{build.profile.name}}</td>
                      <td>{{build.commit.channel.name}}</td>
                      <td>{{build.status}}</td>
                      <td>{{build.package.recipe_revision.recipe.name}}/{{build.package.recipe_revision.recipe.version}}@{{build.package.recipe_revision.recipe.user}}/{{build.package.recipe_revision.recipe.channel}}</td>
                      <td>
                        <LinkTo @route="ecosystem.builds.build" @model={{build}} class="btn btn-sm btn-primary">Details</LinkTo>
                        <BsButton @onClick={{action "startBuild" build}} @type="primary" class="btn-sm">Start</BsButton>
                        <BsButton @onClick={{action "stopBuild" build}} @type="primary" class="btn-sm">Stop</BsButton>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

