<div class="card-body">
  {{#if this.isEditing}}  
    <CredentialEditor::ItemEditor @item={{this.item}} @onSave={{action "save"}} @onCancel={{action "cancel"}}/>
  {{else}}
    <h5 class="card-title">{{this.item.url}}</h5>
    <BsButton @type="primary" @onClick={{action "edit"}}>Edit</BsButton>
    <BsButton @type="primary" @onClick={{this.remove}}>Remove</BsButton>
  {{/if}}
</div>