{{page-title "Ecoystem Profiles"}}

<section>
  <h3>Profiles</h3>

  <p>A profile defines the settings for a Conan package build. All builds for a given 
    profile share these settings. Examples of profiles are "Windows Debug", "GCC9 Release".
  </p>

  <LinkTo @route="ecosystem.profiles.new" class="btn btn-primary">New Profile</LinkTo>
</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" colspan="3">Container Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.profiles as |profile|}}
        <tr>
          <td>{{profile.name}}</td>
          <td>{{profile.container}}</td>
          <td><LinkTo @route="ecosystem.profiles.profile" @models={{array profile.ecosystem profile}} class="btn btn-primary btn-sm">Open</LinkTo></td>
          <td><RemoveDialog @item={{profile}} class="btn-sm"/></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
