<li>
  {{#if @present}}
    <PackageReference @package={{@package}}/>
  {{else}}
    <PackageReference @package={{@package}} @missing={{true}}/>
  {{/if}}
  <BuildTree::Package @package={{@package}} />
</li>