{{#if this.hasRevision}}
  {{#each this.revision.packages as |package|}}
    <li>
      <RecipeReference @recipe={{package.recipe_revision.recipe}} @missing={{true}} />
      <BuildTree::Package @package={{package}} />
    </li>
  {{/each}}
  {{#each this.revision.builds as |build|}}
    <li>
      <RecipeReference @recipe={{this.revision.recipe}} @missing={{true}} />
      <LinkTo @route="ecosystem.repos.repo.build" @models={{array build.commit.repo build}}>
        <BuildBadge @build={{build}} />
      </LinkTo>
      <BuildTree @build={{build}} />
    </li>
  {{/each}}
{{else}}
  <li><RecipeReference @recipe={{@recipe}} @missing={{true}} /></li>
{{/if}}
