<TitleEditor @model={{this.model}} @property="name" @onSave={{action "saveModel"}}/>

<section>
  <h4>Location</h4>

  <p>
    The URL of the repository. It can either be of the type <em>http/https</em> or 
    <em>SSH</em>. In case of SSH access the repository must be configured with the 
    public key of the parent ecosystem. Authenticated access of <em>http/https</em>
    repositories is not possible. Repositories of this type must allow un-authenticated
    read access.
  </p>

  <BsForm @formLayout="inline" @model={{this.model}} @onSubmit={{action "saveModel"}} as |form|>
    <form.element @controlType="input" @property="url" required />
    <form.submitButton>Save</form.submitButton>
  </BsForm>
</section>

<section>
  <h4>Path</h4>

  <p>
    The path to the <code>conanfile.py</code> inside the repository, e.g. <code>packages/hello</code>.
    Provide an empty path if the Conan file is located at the repository root.
  </p>

  <BsForm @formLayout="inline" @model={{this.model}} @onSubmit={{action "saveModel"}} as |form|>
    <form.element @controlType="input" @property="path" required />
    <form.submitButton>Save</form.submitButton>
  </BsForm>
</section>

<section>
  <h4>Options</h4>

  <p>
    These options are passed to the <em>conan create</em> command for this repository.
  </p>
  
  <OptionsEditor @model={{this.model}} @property="options" @onSubmit={{action "saveModel"}}/>
</section>

<section>
  <h4>Exclude Labels</h4>

  <p>
    <em>Exclude labels</em> identify profiles which should be excluded from building 
    this repository.
  </p>

  <p>
    E.g. a repository which defines <code>debug</code> as one of its <em>exclude labels</em>
    will not be built for profiles which share the <code>debug</code> label.
  </p>

  <LabelEditor @model={{this.model}} @property="exclude" @onSubmit={{action "saveModel"}}/>
</section>
