<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Created</th>
        <th scope="col">Status</th>
        <th scope="col">Commit</th>
        <th scope="col">Profile</th>
        <th scope="col">Channel</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedBuilds as |build|}}
        <tr>
          <td>
            <LinkTo @route="ecosystem.repos.repo.build" @model={{build}}>
              <BuildTime @time={{build.created}} />
            </LinkTo>
          </td>
          <td><BuildStatus @status={{build.status}} /></td>
          <td>{{build.commit.message}}</td>
          <td>{{build.profile.name}}</td>
          <td>{{build.commit.channel.name}}</td>
          <td><BuildReference @build={{build}} /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <InfinityLoader @infinityModel={{this.model}} />
</section>
