<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index" class="breadcrumb-item">Home</LinkTo></li>
    <li class="breadcrumb-item"><LinkTo @route="ecosystem.repos" class="breadcrumb-item">{{this.model.repo.ecosystem.name}}</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">Repository</li>
  </ol>
</nav>

<h1>{{this.model.repo.name}} <BsButton @onClick={{action "crawlRepo"}} @type="primary" class="btn-sm">Crawl</BsButton></h1>

<section>
  <BsDropdown as |dd|>
    <dd.button @type="primary">
      Channel
      <span class="caret"></span>
    </dd.button>
    <dd.menu as |menu|>
      <menu.item>
        <a class="dropdown-item" onclick={{action "selectChannel"}}>
          All
        </a>
      </menu.item>
      <menu.divider/>
      {{#each this.ecosystem.channels as |channel|}}
        <menu.item>
          <a class="dropdown-item" onclick={{action "selectChannel" channel}}>
            {{channel.name}}
          </a>
        </menu.item>
      {{/each}}
    </dd.menu>
  </BsDropdown>

  <BsDropdown as |dd|>
    <dd.button @type="primary">
      Profile
      <span class="caret"></span>
    </dd.button>
    <dd.menu as |menu|>
      <menu.item>
        <a class="dropdown-item" onclick={{action "selectProfile"}}>
          All
        </a>
      </menu.item>
      <menu.divider/>
      {{#each this.ecosystem.profiles as |profile|}}
        <menu.item>
          <a class="dropdown-item" onclick={{action "selectProfile" profile}}>
            {{profile.name}}
          </a>
        </menu.item>
      {{/each}}
    </dd.menu>
  </BsDropdown>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Created</th>
        <th scope="col">Status</th>
        <th scope="col">Commit</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedBuilds as |build|}}
        <tr>
          <td>
            <LinkTo @route="ecosystem.repos.repo.build" @model={{build}}>
              <BuildTime @time={{build.created}} />
            </LinkTo>
          </td>
          <td><BuildBadge @build={{build}} /></td>
          <td>{{build.commit.message}}</td>
          <td><BuildReference @build={{build}} /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <InfinityLoader @infinityModel={{this.model.builds}} />
</section>
