<h1>Build of {{this.model.commit.repo.name}} <span class="badge bg-primary">{{this.model.status}}</span></h1>

<h2>Commit</h2>
<p>
  {{this.model.commit.message}}
</p>

<p>
  {{this.model.commit.sha}}
</p>

{{outlet}}