<h1>Build <span class="badge badge-secondary">{{this.model.status}}</span></h1>

<h2>Commit</h2>
<p>
  {{this.model.commit.message}}
</p>

<p>
  {{this.model.commit.sha}}
</p>

<h2>Missing Recipes</h2>

<ul class="list-unstyled">
  {{#each this.model.missing_recipes as |recipe|}}
    <li>{{recipe.name}}/{{recipe.version}}@{{recipe.user}}/{{recipe.channel}}</li>
  {{/each}}
</ul>

<h2>Missing Packages</h2>
<ul class="list-unstyled">
  {{#each this.model.missing_packages as |package|}}
    <li>{{package.recipe_revision.recipe.name}}/{{package.recipe_revision.recipe.version}}@{{package.recipe_revision.recipe.user}}/{{package.recipe_revision.recipe.channel}}#{{package.recipe_revision.revision}}:{{package.package_id}}</li>
  {{/each}}
</ul>

<h2>Log</h2>
<pre><code>{{this.model.log.logs}}</code></pre>