<h1>{{this.model.commit.repo.name}}</h1>
<p>
 <span class="badge bg-primary">{{this.model.profile.name}}</span> <span class="badge bg-primary">{{this.model.status}}</span>
</p>
<h2>Commit</h2>
<p>
  {{this.model.commit.message}}
</p>

<p>
  {{shorten this.model.commit.sha 7}} {{this.model.commit.user_name}} &lsaquo;{{this.model.commit.user_email}}&rsaquo;
</p>

{{outlet}}