{{page-title "Sonja"}}

<div class="container">
  <BsNavbar
    @type="light"
    @backgroundColor="light"
    @collapsed={{true}}
    @onCollapse={{action (mut this.collapsed) true}}
    @onExpand={{action (mut this.collapsed) false}} as |navbar|>
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "application" class="navbar-brand"}}Sonja{{/link-to}}
    </div>
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <nav.link-to @route="application">Ecosystems</nav.link-to>
        </nav.item>
        <nav.dropdown as |dd|>
          <dd.toggle>{{this.currentUser.user.first_name}} {{this.currentUser.user.last_name}}<span class="caret"></span></dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.link-to @route="users">Users</ddm.link-to>
            </ddm.item>
            <div class="dropdown-divider"></div>
            <ddm.item>
              <ddm.link-to @route="settings">Settings</ddm.link-to>
            </ddm.item>
            <ddm.item>
              <button class="dropdown-item" type="button" {{on "click" this.logOut}}>Logout</button>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>

  {{outlet}}
</div>
