<h1>Ecosystems</h1>

<section>
  <p>
    Each ecosystem defines package builds which have a common Conan user in there package reference.
    Builds of an ecosytem also share common SSH settings, i.e. they can access a common set of Git
    repositories via SSH.
  </p>
</section>
  
<section>
  <LinkTo @route="new" class="btn btn-primary">New Ecosystem</LinkTo>
</section>

<section>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each this.model as |ecosystem|}}´
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ecosystem.name}}</h5>
            <p class="card-text">User: {{ecosystem.user}}</p>
            <LinkTo @route="ecosystem.repos" @model={{ecosystem}} class="btn btn-primary">Open</LinkTo>
            <LinkTo @route="ecosystem.settings" @model={{ecosystem}} class="btn btn-primary">Settings</LinkTo>
            <RemoveDialog @item={{ecosystem}} />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>